<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include("../partials/head.ejs") %>

    <script src="/javascripts/lc_select.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/lc_select_light.css">
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <div class="container">
        <h2 class="mb-5 mt-5">Taches - Création</h2>

        <form name="createTask">
            <div class="mb-3 row">
                <label for="title" class="col-2 col-form-label">Titre</label>
                <div class="col-10">
                    <input type="text" id="title" class="form-control" placeholder="Titre" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="dateBegin" class="col-2 col-form-label">Date de début</label>
                <div class="col-10">
                    <input class="form-control" type="date" value="" id="dateBegin" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="dateEnd" class="col-2 col-form-label">Date de fin</label>
                <div class="col-10">
                    <input class="form-control" type="date" value="" id="dateEnd" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="state" class="col-2 col-form-label">Statut</label>
                <div class="col-10">
                    <select id="state" class="form-select" aria-label="Default select example">
                        <option value="non precise" selected>Non précisé</option>
                        <option value="une tache est requise">Une tâche est requise</option>
                        <option value="en cours">En cours</option>
                        <option value="achevee">Achevée</option>
                        <option value="annulee">Annulée</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="tags" class="col-2 col-form-label">Tags</label>
                <div class="col-10">
                    <select id="tags" class="form-select" name="multiple" data-placeholder="Sélectionnner jusqu'à 5 tags" multiple>
                        <% for (tag of tags) { %>
                            <option value="<%= tag.id %>"><%= tag.name %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <button id="formSubmitBtn" type="submit" class="btn btn-primary">Ajouter</button>
        </form>
    </div>

    <script>
        let httpRequest;
        let tags_selected = [];

        const taskAPIRoot = 'http://localhost:3001';
        const tagAPIRoot  = 'http://localhost:3002';

        document.addEventListener('DOMContentLoaded', init)

        function init() {
            document.getElementById('formSubmitBtn').addEventListener('click', onFormSubmit);

            // https://github.com/LCweb-ita/LC-select
            new lc_select('select[name="multiple"]', {
                wrap_width: '100%',
                enable_search: true,
                min_for_search: 5,
                max_opts: 5,
                on_change: onTagSelectChange
            });
        }

        function onTagSelectChange(new_value, target_field) {
            tags_selected = new_value;
        }

        function onFormSubmit(evt) {
            evt.preventDefault();

            const createForm = document.forms.createTask;
            const formValue = JSON.stringify({
                "title": createForm.elements.title.value,
                "dateBegin": createForm.elements.dateBegin.value,
                "dateEnd": createForm.elements.dateEnd.value,
                "state": createForm.elements.state.value,
                "tags": tags_selected
            });

            httpRequest = new XMLHttpRequest();
            if (!httpRequest) {
                alert('Abandon : (Impossible de créer une instance de XMLHTTP');
                return false;
            }
            httpRequest.open('POST', `${ taskAPIRoot }/api/v1/tasks`);
            httpRequest.onreadystatechange = function() {
                try {
                    if (httpRequest.readyState === 4) {
                        if (httpRequest.status === 200) {
                            console.log(httpRequest.response);
                            window.location.href = "/taches";
                        } else {
                            // TODO : spinToCheck();
                        }
                    }
                }
                catch (e) {
                    alert("Une erreur s'est produite : " + e.description);
                }
            };
            httpRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
            httpRequest.send(formValue);
        }

    </script>
</body>
</html>
