<!DOCTYPE html>
<html>
<head>
    <%- include("../partials/head.ejs") %>

    <script src="/javascripts/lc_select.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/lc_select_light.css">
</head>
<body>
<%- include("../partials/header.ejs") %>
<div class="container">
    <h2 class="mb-5 mt-5">Taches - Edition</h2>

    <form name="createTask">
        <div class="mb-3 row">
            <label for="title" class="col-2 col-form-label">Titre</label>
            <div class="col-10">
                <input type="text" id="title" class="form-control" placeholder="Titre" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="dateBegin" class="col-2 col-form-label">Date de début</label>
            <div class="col-10">
                <input class="form-control" type="date" value="" id="dateBegin" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="dateEnd" class="col-2 col-form-label">Date de fin</label>
            <div class="col-10">
                <input class="form-control" type="date" value="" id="dateEnd" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="state" class="col-2 col-form-label">Statut</label>
            <div class="col-10">
                <select id="state" class="form-select" aria-label="Default select example">
                    <option value="non précisé" selected>Non précisé</option>
                    <option value="en cours">En cours</option>
                    <option value="achevée">Achevée</option>
                    <option value="annulée">Annulée</option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="tags" class="col-2 col-form-label">Tags</label>
            <div class="col-10">
                <select id="tags" class="form-select" name="multiple" data-placeholder="Sélectionnner jusqu'à 5 tags" multiple>
                    <% for (tag of tags) { %>
                        <option value="<%= tag.id %>"><%= tag.name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <button id="formSubmitBtn" type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>

<script>

</script>
</body>
</html>
