<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>

    <div class="container">
      <h2>Taches courantes</h2>
      <p>Taches non-annulées, non-achevées et qui ne sont pas arrivées à échéance</p>
    </div>

    <div class="container">
      <h2>Taches selon catégorie</h2>
      <p>Taches non-annulées, non-achevées et qui ne sont pas arrivées à échéance</p>
    </div>
  </body>
</html>
